.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scrolling-container {
  height: calc(100vh - 60px);
  overflow-y:auto;
  scrollbar-width: none;
  padding: 10px;
}

/* .show-Header{
  display: none;
} */
.Header-show{
  display: none;
}
.scroll-table {
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  max-width: 100%; /* Optional: restrict max width */
}

@media (max-width:768px) {
  .Header-show{
    display: none;
  }
  .show-Header{
    display:flex;
  }
}
  @media (max-width:568px) {
  .scrolling-container {
    height: 120vh ;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
